# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ITSE1359-programs\link_checker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
